/* 대댓글 작성 */
#commentlistitem_btncreate{
    height: 25px;
    width: 25px;
    padding: 0px;
}

/* 대댓글 삭제 */
#commentlistitem_btndel{
    height: 25px;
    width: 25px;
    padding: 0px;
}

#commentlistitem_hit {
    cursor: pointer;
}

span.commentlistitem_ {
    -webkit-text-fill-color: white;
    margin: 0px;
    padding: 0px;
}

span.commentlistitem_smile {
	-webkit-text-fill-color: green;
}

span.commentlistitem_angry {
	-webkit-text-fill-color: red;
}

img.commentlistitem_rating {
    margin-left: 10px;
}