.login {
    margin-top: 40px;
    text-align: center;
  }
  
  .tag {
    position: relative;
    margin-left: -210px;
    margin-bottom: 5px;
    font-size: 15px;
    color: black;
  }
  
  input {
    margin: 0px 0;
    width: 22%;
    padding: 15px;
  }

  .btn{
    width: 10%;
    cursor: pointer;
    background-color: white;
    border: 0px;
    height: 0px;
    margin-bottom: 20px;
  }
  
  p {
    margin-top: 40px;
    font-size: 15px;
    color: #248657;
  }
  
  .click {
    text-decoration: underline;
    cursor: pointer;
    color: #df0174;
    margin-top: 20px;
  }