@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#login_login {
  margin-top: 40px;
  text-align: center;
}

#login_tag {
  position: relative;
  margin-left: -210px;
  margin-bottom: 5px;
  font-size: 15px;
  color: black;
}

input.login_ {
  margin: 0px 0;
  width: 22%;
  padding: 15px;
}

#login_btn_login{
  width: 10%;
  cursor: pointer;
  background-color: white;
  border: 0px;
  height: 100%;
  margin-bottom: 20px;
}

#login_btn_gauth {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-height: 40px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  padding: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

#login_img_gauth_google {
  background-color: white;
  width: 18px;
  height: 18px;
  margin: 0px;
  margin-right: 24px;
  padding: 0px;
}

#login_parahgraph {
  margin-top: 40px;
  font-size: 15px;
  color: #248657;
}

#login_click_signup {
  text-decoration: underline;
  cursor: pointer;
  color: #df0174;
  margin-top: 20px;
}