/* 작성, 수정, 삭제 버튼 */
#btn {
    height: 50px;
    font-size: 18pt;
  }

/* 파일 업로드 */
#btnFile {
    height: 37px;
  }

/* 업로드 해제 */
#btnRevokeFile {
    height: 37px;
  }

/* 글쓰기 제목 */
h1{
    margin-top: 15px;
}

.section{
    color:#008080;
}
