/* 작성, 수정, 삭제 버튼 */
#postbody_btn {
    height: 50px;
    font-size: 18pt;
  }

/* 파일 업로드 */
#postbody_btnFile {
    height: 37px;
  }

/* 업로드 해제 */
#postbody_btnRevokeFile {
    height: 37px;
  }

/* 글쓰기 제목 */
h1.post_body{
    margin-top: 15px;
}

.postbody_section{
    color:#008080;
}
